.footer-section-wrapper{
    background-color: #041121;
    min-height: 300px;
    margin-top: 70px;
}
.footer-section-wrapper .copy-right{
    border-top: 2px solid #27214b;
    padding: 20px;
    color: #4a4a4a;
    font-size: 15px;
}
.footer-section-wrapper desc{
    color: #fff;
    padding: 14px;
}
.footer-section-wrapper .desc a i{
    color: red;
    font-size: 38px;
    transform: rotate(-18deg);
 padding-left: 15px;
 vertical-align: -7px;

}
.footer-section-wrapper .desc p{
    font-size: 16px;
    margin-top: 14px;
   color: #9c9898;
}
.footer-section-wrapper a{
    color: #fff;
    padding-right: 10px;
    font-size: 18px;
    /* border-bottom: 1px solid #47259e; */
}
/* .footer-section-wrapper .service,
.sosial h6, .contact-us h6{
    font-size: 16px;
    padding-bottom: 11px;
} */
 .footer-section-wrapper .service h6,.social h6,.contact-us h6{
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #47259e;
 }
.footer-section-wrapper .service a{
    /* border-bottom: 1px solid #47259e; */
}
.footer-section-wrapper .service ul{
    font-size: 16px;
    padding-top: 6px;
    color: #fff;
    margin-top: 10px;
}
.footer-section-wrapper .service ul li{
    font-size: 14px;
    margin-bottom: 10px;
    transition: 0.5s ease;
}
.footer-section-wrapper .service ul li:hover{
    color: red;
    padding-right: 15px;
}
.footer-section-wrapper .service ul li a:hover{
    color: red;
}
.footer-section-wrapper .service ul li::before{
    content: "\276f";
    vertical-align: -1px;
    padding-left: 10px;

}
.footer-section-wrapper .service ul li a{
    color: #888787;
}
.footer-section-wrapper .sosial {
    /* border-bottom: 1px solid #47259e ; */
}
.footer-section-wrapper .sosial ul{
    direction: ltr;
    text-align: center;
    padding-top: 10px;
}
.footer-section-wrapper .social ul a{
  color: #888787 ;
  padding-right: 10px;
  transition: 0.5s ease;
  font-size: 18px;
}
.footer-section-wrapper .social ul a:hover{
    color: #fff;
}
.footer-section-wrapper form{
    margin-top: 44px;
}
.footer-section-wrapper form input[type=text]{
    height: 38px;
    width: 100%;
    padding: 10px;
    outline: none;
}
.footer-section-wrapper form input[type=submit]{
    position: absolute;
    top: 1px;
    left: 1px;
    border: none;
    background-color: red;
    color: #fff;
    height: 36px;
    padding: 0px 10px;
    outline: none;
    cursor: pointer;
}
.footer-section-wrapper .contact-us ul{
    padding-top: 10px;
    color: #9c9898;
}
.footer-section-wrapper .contact-us ul li{
    margin-bottom: 12px;
}
.footer-section-wrapper .contact-us ul li i{
    padding-left: 15px;
    vertical-align: -3px;
}
.footer-section-wrapper .contact-us ul li i span{
font-size: 16px;
}
