.stat-wrapper{
    background-color: rgb(194, 20, 20);
   height: 210px;
   margin-top: 250px;
}
.stat-wrapper img{
    width: 45px;
    height: 45px;
    margin-top: 40px;
}
.stat-wrapper .count{
    color: #efefef;
    font-size: 25px;
    margin-top: 10px;
}
.stat-wrapper .count-title{
       font-size: 20px;
       margin-top: 5px ;
}
@media  only screen and (max-width:600px){
    .stat-wrapper{
        height: 710px;
    }
}
