.taecher-section-wrapper{
     margin-top: 40px; 
}
.teacher-intro{
    background-color: #fffbfb;
    width: 80%;
    top: 110%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: auto;
    box-shadow: 4px 4px 9px 4px #e6e6e6;
    border-radius: 2px;

}
.teacher-intro h5 span{
    background-color: rgb(243, 60, 60);
    border-radius: 4px;
    padding: 2px;
}
.teacher-intro h5{
    margin: 30px 0px ;
    font-size: 20px;
}
.teacher-intro a{
   padding: 4px;
   margin: 15px;
   border: 2px solid rgb(168, 11, 11);
   width: 80px;
   display: inline-block;
   transition: .5s ease;
  border-radius: 0px 4px 0px 4px;
}
.teacher-intro a:hover{
    color: #efef;
    background-color: rgb(179, 12, 12);
}